/*author:dengzuoheng*/

/*body样式*/
body{margin:auto;padding: 0;font-family:"Microsoft YaHei UI","Microsoft YaHei","微软雅黑","宋体";}


/*div样式*/
div#hdr_main{background:#000000;}

div#hdr{position:relative;}

div#body_div{width:920px;margin-left:auto;margin-right:auto;background:red;}

div#search_and_info{width:200px;}

div#login_info{margin-top:43px;}

div#guide{padding:0px;}

div.sign_of_click{width:100%;height:4px;}

div.account{width:250px;color:white;float:left;font-weight:normal;padding-left:50px;}

div.info_item{float:left;max-width:200px;line-height:180%;}

div.modification{clear:both;padding-left:50px;padding-top:100px;padding-bottom:50px;}

div.pwtitleh2{float:left;padding-left:10px;}

div.clearboth{clear:both;}

div.pwtitleimg{float:left;padding-top:14px;}


/*其他*/
div#changepw input{font-size:8px;height:12px;width:150px;}

div.account h2{font-weight:normal;font-size:20px;}

a.usercenter_a{}

span.subtitle{color:white;}

div.info_item p{margin:0px;}

div#main
{
	width:920px;
	margin-left:auto;
	margin-right:auto;
}

button
{
	width:80px;
	height:30px;
	font-size:14px;
    outline:none;
}

form#article_form tr{width:800px;}

form#article_form td{min-width:100px;padding:0px;}

/*form#article_form input{width:810px;outline:none;}*/

button.publish_center_button{cursor:pointer;height:30px;width:200px;border:none;margin:0px;padding:0px;font-size:16px;color:white;}

button#articles,button#announcement,button#coming_soon{background:#888888;}

button#artcle_type_online,button#artcle_type_upload,button#submitbutton,button#cancel{border:none;width:100px;background:#444444;color:white;}

form#article_form input#uploaded_file{border:solid 1px #888888;height:120%;width:300px;margin-left:62px;}

button#submitbutton,button#cancel{margin-top:30px;}


#uploadPhotoArea{width:920px;margin-left:auto;margin-right:auto;margin-top:30px;margin-bottom:30px;border-left:5px solid black;padding:15px;}
#uploadphoto { display: block; margin: 20px auto; background: #eee; border-radius: 10px;}
.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

p#chs_title{
    margin-bottom: 28px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 28px;
}

p#eng_title{
    margin-bottom:12px;
    margin-top:12px;
}

body{
    background:white;
}
