div#main
{
	width:920px;
	margin-left:auto;
	margin-right:auto;
	padding-top:140px;
}

button
{
	width:80px;
	height:30px;
	font-size:14px;
}

form#article_form tr{width:800px;}

form#article_form td{min-width:100px;padding:0px;}

form#article_form input{width:810px;}