
div#main_body{padding-top:40px;width:920px;margin-left:auto;margin-right:auto;font-family:Microsoft YaHei UI,"Microsoft YaHei","微软雅黑","宋体";}

div#left_big_logo{float:left;}

div#right_login_form{width:380px;float:right;}

div#right_login_form h1{font-size:32px;color:#666666;font-weight:normal;}

div.name_label{font-size:14px;color:#666666;padding-top:10px;padding-bottom:3px;}

a.login_help{font-size:14px;text-decoration:none;}

input.login_input{width:250px;height:24px;border-style:solid;border-color:#999999;border-width:1px;font-size:16px;font-weight:bold;}

input.vertication_code{width:100px;}

div#keep_login_checkbox{padding-top:10px;padding-bottom:30px;}

div#keep_login_checkbox{font-size:14px;}

button.c_login_button{width:80px;height:30px;border:none;font-size:16px;font-weight:bold;color:white;margin-right:40px;margin-bottom:10px;}

button#login_button{background:#2672ec;}

button#login_button:hover{background:#709feb;}

button#cancel_button{background:#666666;}

button#cancel_button:hover{background:#999999;}

hr{border:none;height:2px;background:#cccccc;}

div#copyright{font-size:14px;color:#999999;padding-top:50px;}

p#login_error{font-size:14px;color:red;}

img#vertication_img,#vertication_code{vertical-align:middle;}

img#vertication_img:hover{cursor:pointer;}

