
div.xxxcenter_title,div.center_part{width:920px;margin-left:auto;margin-right:auto;}
	
div.xxxcenter_title{margin-top:140px;}
	
div.xxxcenter_title div{float:left;}

div.xxxcenter_title h1,div.xxxc_latest_title h2,div.xxxc_more_title h2
{
font-family:幼圆,"Microsoft YaHei UI","Microsoft YaHei","微软雅黑","宋体";
line-height:50%;
padding-top:30px;
font-weight:normal;
}

div.xxxc_latest_title h2,div.xxxc_more_title h2,div.xxxc_latest_title h4,div.xxxc_more_title h4
{padding-left:20px;color:white;font-weight:normal;
}

div.xxxcenter_title h4,div.xxxc_latest_title h4,div.xxxc_more_title h4
{
font-size:14px;
font-weight:normal;
}

div.xxxc_latest_title,div.xxxc_more_title
{
width:280px;
height:100px;

}

div.xxxc_latest_title
{
background:#ff8c01;
}

div.xxxc_more_title
{
background:#0054a5;
}


hr.xxxcenter_hr{clear:both;height:5px;background:#eeeeee;border:none;}

table.xxxc_table{padding-top:20px;}

table.xxxc_table div{background:url(http://jnueicsu-upload.stor.sinaapp.com/image/li_img.png) no-repeat;width:920px;height:20px;border-bottom-style:solid;font-size:14px;border-bottom-width:1px;border-bottom-color:#eeeeee;}

p.xxxc_t_l{float:left;margin:0px;padding-left:15px;}

p.xxxc_t_r{float:right;margin:0px;}

div#the_next_page{width:920px;height:100px;padding-top:20px;font-size:14px;}

a.xxxcenter_a{text-decoration:none;}

a.xxxcenter_a:active{color:black;}
a.xxxcenter_a:focus{color:black;}
a.xxxcenter_a:hover{color:blue;}
a.xxxcenter_a:link{color:black;}
a.xxxcenter_a:visited{color:#609;}

div.art_tit_div{width:920px;text-align:center;}

p.author_etc{word-spacing:2em;font-size:14px;line-height:50%;}
p.article_key_word{word-spacing:1em;font-size:14px;line-height:50%;font-weight:bold;}

div.art_body_div p{text-indent:2em;font-family:Microsoft YaHei UI,"Microsoft YaHei","微软雅黑","宋体";line-height:180%;}

div.art_body_div{padding-bottom:50px;}

hr.article_hr{border:none;height:4px;background:#f8b551;}


form#article_form tr{width:800px;}

form#article_form td{min-width:100px;padding:0px;}

form#article_form input{width:810px;outline:none;}

button.publish_center_button{cursor:pointer;height:30px;width:200px;border:none;margin:0px;padding:0px;font-size:20px;color:white;}

button#articles,button#announcement,button#coming_soon{background:#888888;}

button#artcle_type_online,button#artcle_type_upload,button#submitbutton,button#cancel{border:none;width:100px;background:#444444;color:white;}

form#article_form input#uploaded_file{border:solid 1px #888888;height:120%;width:300px;margin-left:62px;}

button#submitbutton,button#cancel{margin-top:30px;width:100px;height:30px;margin:30px}

button{cursor:pointer}

#edit_the_article{cursor:pointer;color:blue}

#uploadPhotoArea{width:920px;margin-left:auto;margin-right:auto}

h1{font-weight:normal;}

#article_text img{margin:auto;clear:both;display: block;text-align:center;}
