
div#footer
{	width:100%;
	position:relative;
	
	bottom:0px;
	left:0px;
	clear:both;

}

div#footer_bg
{
	width:100%;
	height:300px;
	top:0px;
	left:0px;
	position:relative;
	background:url(./image/footer_main.png) repeat;
	
	
}

div#footer_hr1
{

	width:100%;
	height:24px;
	background:url(./image/footer_hr1.png) repeat;
	left:0px;
	top:0px;
}

div#footer_hr2
{

	width:100%;
	height:10px;
	background:url(./image/footer_hr2.png) repeat;
	left:0px;
	top:24px;
}

div#footer_details
{

	width:100%;
}

div#footer_main
{
	
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:34px;
	width:920px;
}

table#about_us
{
	margin-left:auto;
	margin-right:auto;
}

div#Copyright
{
	font-family:"Microsoft YaHei UI","Microsoft YaHei","微软雅黑","宋体";
	font-size:12px;
	text-align:center;
	line-height:50%;
	clear:both;
	color:#999999;
	padding-top:2em;
}

table#about_us
{
	font-family:"Microsoft YaHei UI","Microsoft YaHei","微软雅黑","宋体";
}

td.footer_about_us_td
{
	
	width:150px;
	text-align:left;
	font-size:12px;
}

th.footer_about_us_th
{
	color:#FFFFFF;
	font-size:14px;
	width:150px;
	text-align:left;
	font-weight:normal;
	padding-bottom:1em;
}

a.footer_about_a{text-decoration:none;}
a.footer_about_a:active{color:#999999;}
a.footer_about_a:focus{color:#999999;}
a.footer_about_a:link{color:#999999;}
a.footer_about_a:visited{color:#999999;}
a.footer_about_a:hover{color:#FFFFFF;}
	