/*author:dengzuoheng*/

/*body样式*/
body{margin:auto;padding: 0;font-family:"Microsoft YaHei UI","Microsoft YaHei","微软雅黑","宋体";}


/*div样式*/
div#hdr_main{background:#004986;}

div#hdr{position:relative;}

div#body_div{width:920px;margin-left:auto;margin-right:auto;background:red;}

div#search_and_info{width:200px;}

div#kkb_work_filed{background:#f1bd96;}

div#login_info{margin-top:43px;}

div#txl_work_filed{background:#ed9d7f;}

div#guide{padding:0px;}

div#modf_error{clear:both;color:red;padding-left:50px;padding-top:20px;}

div#user_info_work_filed{background:#b4a5c7;}

div#personal_data, div#change_personal_data, div#change_password, div#empty_schedule, div#change_empty_schedule, div#contacts_books 
{width:920px;margin-left:auto;margin-right:auto;background:green;font-size:14px;}

div.sign_of_click{width:100%;height:4px;}

div.work_filed{width:100%;}

div.account{width:250px;color:white;float:left;font-weight:normal;padding-left:50px;}

div.info_item{float:left;max-width:200px;line-height:180%;}

div.modification{clear:both;padding-left:50px;padding-top:100px;padding-bottom:50px;}

div.pwtitleh2{float:left;padding-left:10px;}

div.clearboth{clear:both;}

div.pwtitleimg{float:left;padding-top:14px;}


/*按钮样式*/
button.user_center_buttom{cursor:pointer;height:30px;width:200px;border:none;margin:0px;padding:0px;font-size:20px;color:white;}

button#main_user_info,div#user_info_sign,button#per_info_modf_apy,button#per_info_modf_submit,button#pw_modf_submit{background:#8064a2;}

button#user_kong_ke_biao,button#kkb_modf_apy,button#kkb_modf_submit,div#kkb_sign{background:#f19149;}

button#user_address_book,div#txl_sign{background:#dc3c00;}

button.user_center_modf_button{border:none;width:80px;height:24px;color:white;font-weight:bold;}

button#per_info_modf_apy:hover,button#per_info_modf_submit:hover,button#pw_modf_submit:hover{background:#947bb2;}

button#kkb_modf_apy:hover,button#kkb_modf_submit:hover{background:#f29c5c;}


/*表格样式*/
table.kkb th,table.kkb td{min-width:80px;border-style:solid;border-width:2px;border-color:#f1bd96;}

table.kkb{margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:20px;}

table.kkb th{background:#f19149;padding-left:5px;padding-right:5px;color:white;}
/*子元素的权限比类更高*/

table.kkb td{text-align:center;}

td.youke{background:#c5c5c5;}

td.meike{background:white;}

td.danyou{background:#b8d0f0;}

td.suanyou{background:#adecc6;}

table.kkb select{padding-left:0px;margin-left:0px;padding-left:0px;}

table.kkb option{width:66px;padding-left:0px;margin-left:0px;}

form table.kkb td{text-align:left;}

table#whole_add td{border:none;}

table#whole_add{margin-left:auto;margin-right:auto;padding-bottom:50px;}

table#whole_add td,table#whole_add th{background:white;padding-left:10px;padding-right:10px;text-align:center;}

table#whole_add tr.first_line th,table#whole_add tr.first_line td
{border-top-style:solid;border-top-width:4px;border-top-color:#ed9d7f;}

table#whole_add caption{font-size:24px;line-height:200%;padding-top:50px;color:white;}


/*其他*/
div#changepw input{font-size:8px;height:12px;width:150px;}

div.account h2{font-weight:normal;font-size:20px;}

a.usercenter_a{}

span.subtitle{color:white;}

div.info_item p{margin:0px;}
