/*author:dengzuoheng*/

/*body样式*/
body{background:url(http://jnueicsu-upload.stor.sinaapp.com/image/home_bgimg_softwhite.png) repeat;font-family:"Microsoft YaHei UI","Microsoft YaHei","微软雅黑","宋体";}

/*div样式*/
div#real_body,div#division,div#coming_soon_body{width:920px;}

div#real_body{margin-left:auto;margin-right:auto;}

div#slide_news{width:550px;height:342px;float:left;background:white;position:relative;}

div#main_stu_sys{width:350px;height:100px;}

div#inner_border{width:100%;height:80px;margin-top:10px;}

div#performance_system,div#allocate_system,div#secretariat{width:33%;height:80px;}

div#performance_system{float:left;}

div#allocate_system{float:left;border-left-style:solid;border-right-style:solid;border-width:1px;}

div#secretariat{float:right;}

div#hot_and_notice{width:350px;height:222px;margin-top:16px;}

div#division{height:10px;clear:both;padding-top:20px;border-bottom-color:#dedfe0;}

div#hot_and_notice{font-size:14px;}

div#what_s_hot,div#notice{padding-left:20px;padding-right:20px;}

div#hot_key_word,div#hot_stuwork,div#hot_activity{height:25px;border-bottom-style:dotted;border-width:1px;border-bottom-color:#dedfe0;}

div#coming_soon{width:100%;height:440px;}

div#coming_soon_body{height:380px;background:#d0e5ff;}

div#coming_activity_main_post{float:right;}

div#coming_activity_info{width:400px;float:left;text-align:center;margin-top:50px;}

div#coming_activity_small_post{width:180px;height:250px;background:white;position:relative;left:570px;top:65px;border-style:solid;border-width:2px;}
 
div#coming_activity_small_post{position:relative;left:570px;top:65px;}

div#small_post_img{width:160px;height:180px;margin-left:auto;margin-right:auto;position:relative;bottom:140px;}

div#news_active{position: absolute;right:10px;bottom: 11px;height: 16px;z-index: 11;overflow: hidden;}

div#main_news_div{width: 550px;height: 342px;float: left;background: white;position: relative;overflow:hidden;}
		
div#news{overflow:hidden;width:280px;height:180px;position:absolute;left:200px;top:100px;background:black;z-index:5;background:url(http://jnueicsu-upload.stor.sinaapp.com/image/bgimg_title2.png) repeat;}		

div.center_the_logo{padding-bottom:0px;margin-bottom:0px;width:50px;height:50px;background:white;margin-left:auto;margin-right:auto;}

div.main_right_top{float:right;background:white;border-style:solid;border-width:1px;}

div.s-mod-hotnews-newstitle-mask {position: absolute;left:0px;bottom: 0px;height: 35px;background-color: #000;width: 100%;z-index: 10;background:url(http://jnueicsu-upload.stor.sinaapp.com/image/bgimg_title2.png) repeat;}
	
div.main_right_top,div#allocate_system,div#coming_activity_small_post{border-color:#dedfe0;}


/*p样式*/		
p#news_text{color:white;margin-left:20px;margin-right:20px;}
		
p#the_title_of_activity_come_soon{font-size:24px;line-height:50%;}

p#when_the_activity_hold,p#where_the_activity_hold{line-height:50%;}

p#activity_slogan,p#activity_sponsor{text-align:center;}

p#activity_slogan{font-weight:bold;}

p#activity_sponsor{font-size:12px;color:#888888;line-height:50%;}

div#news p p{line-height:120%;}

p.sys_alt{text-align:center;margin:10px;}
		
p#when_the_activity_hold,p#where_the_activity_hold,p#activity_slogan,div#news p p,p.sys_alt{font-size:14px;}

/*图片样式*/
img#pre_news,img#next_news{position:absolute;width:42px;height:43px;z-index:10;top:145px;overflow:hidden;line-height:10;cursor:pointer;}

img#pre_news{left: 8px;}
		
img#next_news{right: 8px;}
		
img#pic1, img#pic2, img#pic3  {width: 550px;height: 342px;float: left;position: absolute;z-index: 2;left: 0px;}
		
div#hot_stuwork img,div#hot_activity img{vertical-align:middle;}


/*连接样式*/
p#news_text a:active,a.news_detail_link:active{color:#2bf8f6;}
p#news_text a:focus,a.news_detail_link:focus{color:#2bf8f6;}
p#news_text a:hover,a.news_detail_link:hover{color:blue;}

p#news_text a:visited,a.news_detail_link:visited{color:#2bf8f6;}
p#news_text a:link,a.news_detail_link:link{color:#2bf8f6;}

a.sys_logo_img{text-align:center;margin-left:auto;margin-right:auto;text-decoration:none;color:white;}

a.hot_a{text-decoration:none;word-spacing:4px;}
a.hot_a:hover{color:#888888;}

div#slide_news a {text-decoration: none;color:white;}

/*其他*/
h2{font-size:18px;font-weight:normal;line-height:50%;}

hr{color:#FFFFFF;}

p#the_title_of_activity_come_soon,p#when_the_activity_hold,p#where_the_activity_hold,div#coming_soon h1{font-family:幼圆,"Microsoft YaHei UI","Microsoft YaHei","微软雅黑","宋体";}

p#news_text h2{font-weight:normal;color:white;font-size:24px;}

p.sys_alt,h2,a.hot_a,div#hot_and_notice,div#coming_soon h1,p#activity_slogan{color:#444444;}

div#coming_soon h1{font-weight:normal;font-size:24px;line-height:50%;}




