	<div id="footer">
			<div id="footer_bg">
			
				<div id="footer_hr1">
				</div>
				
				<div id="footer_hr2">
				</div>
				<div id="footer_details">
					<div id="footer_main">
						<table id="about_us">
							<thead>
								<tr>
									<th class="footer_about_us_th"></th>								
									<th class="footer_about_us_th">关于我们</th>
									<th class="footer_about_us_th"></th>	
									<th class="footer_about_us_th">关注我们</th>
									<th class="footer_about_us_th"></th>	
									<th class="footer_about_us_th">友情链接</th>
									<th class="footer_about_us_th"></th>	
								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="aboutus.html" class="footer_about_a">
											关于团委学生会
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="http://weibo.com/jnueisu" class="footer_about_a">
											新浪微博
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="http://eic.jnu.edu.cn/" class="footer_about_a">
											电气信息学院
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
								</tr>
								<tr>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="a.html" class="footer_about_a">
											免责声明
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="http://www.paigu.com/u/768323/" class="footer_about_a">
											微信
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="http://cs.jnu.edu.cn/" class="footer_about_a">
											计算机科学系
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
								</tr>
								<tr>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="https://github.com/kanonwind/jnu.eic.su/graphs/contributors" class="footer_about_a">
											联系开发人员
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="http://bbs.jnustu.org/" class="footer_about_a">
											暨南风
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
								</tr>
								<tr>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										<a href="https://github.com/kanonwind/jnu.eic.su/issues" class="footer_about_a">
											报告错误
										</a>
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td">
										
									</td>
									<th class="footer_about_us_th"></th>	
									<td class="footer_about_us_td"></td>
									<th class="footer_about_us_th"></th>	
								</tr>
							</tbody>
						</table>
										
						<div id="Copyright">
							<p class="copy_main">Copyright&copy;2014电气信息学院团委学生会</p>
							<p class="copy_main">技术支持:JNU Developer Community</p>
							<p class="copy_main">jnu-developer@googlegroups.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>