

	<div id="hdr">
			<div id="hdr_main">
				<div id="hdr_top">
					<!--表头徽标-->
					<div id="logo">
						<img src="<?php echo $imgURL;?>std_title_logo.png" width="54px" height="54px" alt="团委学生会的徽标"/>
					</div>
					<!--标题-->
					<div id="title">
						<p id="chs_title">
							暨南大学电气信息学院团委学生会
						</p>
						<p id="eng_title">
							Electrcal and Information College of Jinan University Youth League Committee &#38; Student Union
						</p>
						<div id="help_nav">
							<!--这里几个链接的url还没决定的-->
							<a class="head_help_nav" href="liaojie.html">了解团委学生会</a>
							<a class="head_help_nav" href="caozuofangfa.html">操作方法</a>
							<a class="head_help_nav" href="zhichi.html">支持</a>
						</div>
						
						
					</div>
					
					<div id="search_and_info">
					
						<!--站内搜索框，样式和代码均未完成-->
						<div id="search_bar">
							<input type="text" name="q" id="query" title="站内搜索" />
							<button type="submit" name="qsub" id="searchsubmit" title="搜索" value="" ><img src="<?php echo $imgURL;?>site_search.png" alt="搜索按钮徽标" /></button>
						</div>
					
						<!--用户信息，未登陆是为“登陆”锚标签，登陆后为“用户名”，“个人中心”，“注销”3个锚标签-->
						<div id="login_info">
						{$link}
<!-- 							<a class="user_info" id="login_info_user_name" href="#">邓作恒</a>
							<a class="user_info" id="login_info_user_id" href="#">2012052207</a>
							<a class="user_info" id="login_info_user_center" href="#">个人中心</a>
							<a class="user_info" id="login_info_log_out" href="#">注销</a> -->
						</div>
						
					</div>
					
				</div>
			</div>
			<div id="hdr_guide">
				<div id="guide">		
					<div id="guide_table">
						<table id="main_guide">
							<tr>
								<td class="about_us_td">
									<a class="main_nav" id="a_home" href="__APP__">首页</a>
								</td>
								<td class="about_us_td">
									<a class="main_nav" id="a_news" href="__APP__/Index/newscenter">新闻中心</a>
								</td>
								<td class="about_us_td">
									<a class="main_nav" id="a_work" href="__APP__/Index/notice">通知公示</a>
								</td>
								<td class="about_us_td">
									<a class="main_nav" id="a_act" href="__APP__/Index/files">现行制度</a>
								</td>
								<td class="about_us_td">
									<a class="main_nav" id="a_files" href="__APP__/Index/introduce">团学简介</a>
								</td>
							</tr>
						</table>					
					</div>
				</div>
			</div>
			
		</div>	