<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="EN" xml:lang="EN">
    <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/><!--说明字符集-->
    <meta http-equiv="content-language" content="zh-CN" /><!--说明语言-->
    <meta name="author" content="ZuohengDeng" /><!--作者-->
    <meta name="copyright" content="jnu.ksc" /><!--声明版权-->
    <meta name="description" content="电气信息学院团委学生会门户网站" /><!--网站概述-->
    <meta name="keywords" content="暨大 暨南大学 电气院 电气信息学院 团委学生会 暨南大学电气信息学院团委学生会 团委学生会首页" /><!--关键词-->
    <meta name="keywords" content="Electrcal and Information College of Jinan University Youth League Committee Student Union" />
    
    <link rel="shortcut icon" href="<?php echo $imgURL;?>logo.jpg" />